/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0b10; /* app background */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #6366f1,
    #cb52d4
  );
  border-radius: 999px;
  border: 2px solid #0b0b10;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #7c7cf3,
    #d96fe0
  );
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 #0b0b10;
}
